h1 {
  color: blueviolet;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todoSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
  margin: 5px;
}

#todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
}
/* h4 is only going to be used for input items, so you wont see it in the html file */
h4:hover {
  background-color: rgb(255, 157, 157);
  border-radius: 5px;
}